<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.project.dao.ResourceMapper">
<!-- 查询当前登录人的资源  -->
    <select id="listResource" resultType="com.imooc.project.vo.ResourceVO">
        select
        re.resource_id,
        re.resource_name,
        re.url
        from resource re inner join role_resource rr
        on re.resource_id = rr.resource_id
        ${ew.customSqlSegment}
    </select>
    <select id="listResourceByRoleId" resultType="com.imooc.project.vo.TreeVO">
        select
        re.resource_id id,
        re.resource_name title,
        re.url,
        if(rr.resource_id is null,false,true) checked
        from resource re left join role_resource rr
        on re.resource_id = rr.resource_id and rr.role_id=#{roleId}
        ${ew.customSqlSegment}
    </select>
</mapper>
