<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--<link rel="stylesheet" href="../layui/css/layui.css">-->
</head>
<body>
	<div class="layui-form"  th:object="${account}">
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<div class="layui-form-mid" th:text="*{username}"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">真实姓名</label>
			<div class="layui-input-block">
				<div class="layui-form-mid" th:text="*{realName}"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">角色</label>
			<div class="layui-input-block">
				<div class="layui-form-mid" th:text="*{roleName}"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block">
				<div class="layui-form-mid" th:text="*{sex}"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<div class="layui-form-mid" th:text="*{email}"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-form-mid" th:text="*{#temporals.format(createTime,'yyyy-MM-dd HH:mm:ss')}"></div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="button" class="layui-btn layui-btn-primary" onclick="layer.close(layer.index)">关闭</button>
			</div>
		</div>
	</div>
</body>
</html>